.timer-details {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: var(--color-white);

  &__count {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-alt);
    font-weight: 600;

    &-number {
      font-size: 32px;
      opacity: 0.6;
    }

    &-name {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}
