{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "crlf",
  "experimentalOperatorPosition": "start",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
